#ide
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# vendor
node_modules/

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# tests
/tests
/coverage
/packages/*/coverage

# docs
/docs
/docs-src

# dev configs
.editorconfig
.eslintignore
.eslintrc.js
.huskyrc.js
.prettierignore
.prettierrc
jest.config.mjs
lint-staged.config.js
rollup.config.mjs
